<!-- wp:template-part {"slug":"header","tagName":"div"} /-->

<!-- wp:group {"tagName":"main","anchor":"main-content","className":"nice-main","layout":{"type":"default"}} -->
<main id="main-content" class="wp-block-group nice-main">
	<!-- wp:nice/events-section-navigation /-->
	<!-- wp:nice/studio-section-navigation /-->
	<!-- wp:nice/events-case-study-detail /-->
	<!-- wp:nice/studio-case-study-detail /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"div"} /-->
